:root {
  --dark-theme-bg-color: #1a202c;
  --dark-theme-text-color: #ffffff;

  --light-theme-bg-color: #ffffff;
  --light-theme-text-color: #2f2e41;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-black;
  scroll-behavior: smooth;
}

body {
  @apply overflow-x-hidden;
  background-color: var(--light-theme-bg-color);
  color: var(--light-theme-text-color);

  &[dark="true"] {
    background-color: var(--dark-theme-bg-color);
    color: var(--dark-theme-text-color);
  }
}

h1 {
  @apply text-2xl;
  line-height: normal;

  @screen lg {
    @apply text-3xl;
  }
}

h3 {
  @apply text-xl;
}

p {
  @apply mt-3 text-xl;
}
